.first_variat{

}

.second_variant{
    background-color: #851416;


}

input{
   border: 0;
    background-color: rgba(132, 186, 244, 0);
}

.audioBody{
    display: inline-block;
    width: 80%;
    margin-top: 50px;
    margin-left: 10%;
    padding: 10px;
    vertical-align: top;
  }

audio{
    width: 600px;
    background-color: #4a9bfd;
    color: #4a9bfd;
}

.audioBlockInBody {
    margin: 0;
    padding: 0;
    opacity: 1;
}
.AudioName{
    display: inline-block;
    width: 54%;
    height: 40px;
    margin: 0;
    padding: 0;
    opacity: 1;
}
.RecommendedImg {
    display: inline-block;
    height: 25px;
    width: 25px;
}
.InfoImg{
    display: inline-block;
    margin-right: 20px;
    height: 25px;
    width: 25px;
}
.AudioPrice{
    display: inline-block;
    width: 15%;
    height: 40px;
    margin-left: 65px;
    padding: 0;
}
.AudioPriceRecommended{
    display: inline-block;
    width: 15%;
    height: 40px;
    margin-left: 97px;
    padding: 0;
}
.DeleteButton {
    width: 15%;
    height: 40px;
    display: inline-block;
     margin: 0;
    padding: 0;

}
.totalPrice{
    display: inline-block;
    margin-left: 45%;
    width: 30%;
    height: 40px;
}
.BuyButton{
    display: inline-block;
    margin-left: 0%;
    width: 15%;
    height: 40px;
}
.AddToBasketButton{
    width: 15%;
    height: 40px;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.Price{

}
.InfoBody{
    left: 25%;
    top:50px;
    width: 50%;
    height: 60%;
}
#AddCommentButton{
    margin-top: 10px;
    width: 100px;
    vertical-align: top;
}
#AddCommentTextArea{
    width: 50%;
}