* {
    box-sizing: border-box;    
}

body {
    color: #626262;
    background-image: url(../resources/fon.png);
    background-repeat: repeat;
}

.header {
    margin-top: 10px;
    text-align: center;
    font-family: "Slot Cyrillic";
    font-size: 25px;
    font-weight: 600;
}

.header a {
    border-bottom: 3px dotted #9f9f9f;
    padding: 2px 10px;
    text-decoration: none;
    color:#657007;
}

.header a:hover {
    border-bottom: 3px solid #4a9bfd;
    color: #4a9bfd;
}

.button-group{
    display: inline-block;
    width: 25%;
    margin-top: 20px;
    margin-left: 10px;    
    padding: 10px;
    vertical-align: top;
}

.button-group input[type=button],button {
    display: inline-block;
    width: 90%;
    margin-top: 20px;
    padding: 6px 2px;
    background-color: #9dc4da;
    outline: none;
    transition: 0.4s;
    border: 2px groove;
    border-radius: 1px;
    color: #555a66;
    font-family: "Century Gothic";
    font-weight: 700;
    font-size: 13px;
}

.button-group input[type=button]:hover,button:hover{
    background: #646464;
    cursor: pointer;
    color:#deea70;
}

.button-group input[type=button]:active {
    background: #ff5c41;
}

.info-about {
    display: inline-block;
    width:55%;
    position: relative;
    left: 30px;
    top:20px;
    padding: 10px;
    background-color: rgba(132, 186, 244, 0.4);
    border-radius: 8px;
    border-style: groove;
    font-family:"Palatino Linotype";
    font-weight: 600;
    color: #050f26;
}

.info-about p{
    display: inline-block;
    width:25%;
    margin: 10px;
}

.info-about span{
    display: inline-block;
    width:55%;
}

.info-audiotrack{
    width:100%;
    margin-top: 40px;
    background-image: url(../resources/fon-music.jpg);
    opacity: 0.6;
    font-family:"Palatino Linotype";
    font-weight: 700;
    color: #050f26;
}

.info-audiotrack ul{
    margin-left: 20px;
    margin-top: 0;
    list-style-image: url(../resources/list.gif);
}

.info-audiotrack a {
    text-decoration: none;
    font-size: 15px;
    font-family: "Century Gothic";
    color:#657007;
}

.info-audiotrack a:hover {
    color:#0268f7;
}

.tittle{
    display: inline-block;
    width: 100%;
    margin-left: 20px;
}

.tittle p{
    width: 50%;
    margin-top: 5px;
    margin-bottom: 0;
    font-family: Lobster;
    font-size: 20px;
}

.footer{
    text-align: center;
    font-family: "Slot Cyrillic";
    font-size:20px;   
    font-weight: 600;
    color:#000000;
}

@font-face {
    font-family: "Slot Cyrillic"; 
    src: url(../resources/fonts/font-menu.ttf); 
}

@font-face {
    font-family: "Lobster"; 
    src: url(../resources/fonts/font-tittle.ttf); 
}

@media only screen and (max-width: 970px) {

    .button-group {
        width: 35%;  
    }

    .button-group input[type=button]{
        font-size: 11px;
    }
}

@media only screen and (max-width: 600px) {
    * {
        font-size: 0.9em;
    }

    .button-group,.info-about {
        width: 100%;
    }

    .info-about{
        left: 0;
    }

    .button-group input[type=button]{
        width: 60%;
        margin-left: 18%;
    }
}