* {
    box-sizing: border-box;
}

body {
    color: #626262;
    background-image: url(../resource/images/fon_main.png);
    background-repeat: repeat;
}

.header {
    margin-top: 10px;
    text-align: center;
    font-family: "Slot Cyrillic";
    font-size: 25px;
    font-weight: 600;
}

.header a {
    border-bottom: 3px dotted #9f9f9f;
    padding: 2px 10px;
    text-decoration: none;
    color: #657007;
}

.header a:hover {
    border-bottom: 3px solid #4a9bfd;
    color: #4a9bfd;
}

.audio-form {
    display: inline-block;
    width: 65%;
    margin-left: 18%;
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(132, 186, 244, 0.4);
    border-radius: 8px;
    border-style: groove;
    font-family: "Palatino Linotype";
    font-weight: 600;
    color: #050f26;
    min-height: 500px;
}

.audio-info {
    display: inline-block;
    width: 60%;
}

.audio-info p {
    display: inline-block;
    width: 35%;
    margin: 7px;
}

.audio-info span {
    display: inline-block;
    width: 55%;
    color: #555a66;
}

.review {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    width: 35%;

}

.review textarea {
    display: inline-block;
    width: 280px;
    height: 100px;
}

.review input {
    display: inline-block;
}

.review-info {
    display: inline-block;
    margin: 10px;
    border-radius: 8px;
    border-style: groove;
    background-color: rgba(227, 255, 243, 0.63);
    width: 80%;
    padding: 5px;

}

.reviewer-info {
    display: inline-block;
    width: 90%;
}

.review-content {
    display: inline-block;
    color: #555a66;
}

.audio-button {
    display: inline-block;
    width: 150px;
    margin-top: 20px;
    padding: 6px 2px;
    background-color: #9dc4da;
    outline: none;
    transition: 0.4s;
    border: 2px groove;
    border-radius: 1px;
    color: #555a66;
    font-family: "Century Gothic";
    font-weight: 700;
    font-size: 13px;
}

.audio-button:hover {
    background: #646464;
    cursor: pointer;
    color: #deea70;
}

.audio-button:active {
    background: #ff5c41;
}

.update-button{
    display:none;
    width:200px;
    vertical-align: top;
}

.tittle {
    display: inline-block;
    width: 100%;
    margin-left: 20px;
}

.tittle p {
    width: 50%;
    margin-top: 5px;
    margin-bottom: 0;
    font-family: Lobster;
    font-size: 20px;
}

.footer {
    text-align: center;
    font-family: "Slot Cyrillic";
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

.error-message {
    display: none;
    margin-left: 195px;
    margin-top: 5px;
    width: 180px;
    padding: 0 10px;
    color: #f90800;
    font-weight: 600;
    font-size: 11px;
    border-radius: 4px;
    background-color: rgba(193, 138, 29, 0.4);
}

.error-content{
    margin-left:0;
    width: 280px;
}

.modal-form {
    width: 500px;
    /* Рaзмеры дoлжны быть фиксирoвaны */
    border-radius: 5px;
    border: 3px #000 solid;
    background: #fff;
    position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
    top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
    left: 50%; /* пoлoвинa экрaнa слевa */
    margin-top: -150px;
    margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
    display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
    opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
    z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
    padding: 20px 10px;
    color: #626262;
    background-image: url(../resource/images/fon_main.png);
    background-repeat: repeat;
    font-family:"Palatino Linotype";
    background-color: rgba(230, 241, 255, 0.75);
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
    border-radius: 4px;
}
.modal-form input[type='submit'], .modal-form input[type='reset']{
    width:180px;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
.modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
}
/* Пoдлoжкa */
#overlay {
    z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
    position:fixed; /* всегдa перекрывaет весь сaйт */
    background-color:#000; /* чернaя */
    opacity:0.8; /* нo немнoгo прoзрaчнa */
    -moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
    filter:alpha(opacity=80);
    width:100%;
    height:100%; /* рaзмерoм вo весь экрaн */
    top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
    left:0;
    cursor:pointer;
    display:none; /* в oбычнoм сoстoянии её нет) */
}

.form-item {
    border-bottom: 1px solid #eee;
    padding: 5px 5px;
}

.form-item-label {
    display: inline-block;
    width: 190px;
}

.form-input{
    width: 200px;
}
.page-button{
    display: inline-block;
    background-color: #9dc4da;
}

.audio-block {
    padding: 5px 5px;
    margin-left: 30px;
}

@font-face {
    font-family: "Slot Cyrillic";
    src: url(../resource/fonts/font-menu.ttf);
}

@font-face {
    font-family: "Lobster";
    src: url(../resource/fonts/font-tittle.ttf);
}