body {
    height: 100%;
    margin: 0;
    text-align: center;
    color: #626262;
    background-image: url('../resource/images/fon_auth.jpg');
}

.wrapper {
    margin: 100px auto;
    display: inline-block;
    background-color: rgba(230, 241, 255, 0.75);
}

.form {
    width: 300px;
    padding: 10px;
    box-shadow: 0px 0px 5px 0 rgba(0,0,0,0.75);
    border-radius: 4px;
    margin-bottom: 0;
}

.form-item {
    border-bottom: 1px solid #eee;
    padding: 5px 0;
}

.form-item-label {
    text-align: left;
    font-family: "Century Gothic";
}

.error-message {
    position: relative;
    color: #003b42;
    font-family: "Arial";
    font-weight: 600;
    font-size: 11pt;
    margin-top:-20px;
    width: 300px;
    padding: 0 10px;
    border-radius: 4px;
    display: inline-block;
    background-color: rgba(167, 189, 193, 0.4);
}

.button-group {
    margin-top: 10px;
}

.button-form {
    display: inline-block;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(255,255,255,.2), 0 -1px rgba(0,0,0,.8);
    outline: none;
    border: none;
    border-radius: 100px;
    background: rgb(28,107,114) radial-gradient(150% 100% at 50% 5px, rgba(255,255,255,.2), rgba(0,0,0,0));
    box-shadow: inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, rgba(0,0,0,.8) 0 2px 5px -1px;
    color: rgb(0,79,86);
    user-select: none;
}

.button-form:hover{
    color: rgb(0,59,66);
    cursor: pointer;
}
.button-form:active{
    padding-bottom: 1px;
    box-shadow:inset rgba(0,0,0,1) 0 1px 3px,inset rgba(0,0,0,.6) 0 -2px 5px,inset rgba(252,255,255,.7) 0 2px 5px,0 1px rgba(255,255,255,.08);
    color: rgb(128,207,214);
}
