* {
    box-sizing: border-box;
}

body {
    color: #626262;
    background: url(../resource/images/fon_main.png) repeat;
}

.header {
    margin-top: 10px;
    text-align: center;
    font-family: "Slot Cyrillic";
    font-size: 25px;
    font-weight: 600;

}

.header a {
    border-bottom: 3px dotted #9f9f9f;
    padding: 2px 10px;
    text-decoration: none;
    color:#657007;
}

.header a:hover {
    border-bottom: 3px solid #4a9bfd;
    color: #4a9bfd;
}

.audio-form{
    display: inline-block;
    position:relative;
    width:65%;
    margin-left: 18%;
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(132, 186, 244, 0.4);
    border-radius: 8px;
    border-style: groove;
    font-family:"Palatino Linotype";
    font-weight: 600;
    color: #354350;
    min-height: 500px;
}

.error-message {
    display: none;
    margin-left: 195px;
    margin-top: 5px;
    width: 180px;
    padding: 0 10px;
    color: #f90800;
    font-weight: 600;
    font-size: 11px;
    border-radius: 4px;
    background-color: rgba(193, 138, 29, 0.4);
}

.client-block {
    padding: 10px 5px;
    margin-left: 30px;
}

.client{
    display: inline-block;
    width: 70%;
    font-family:"Palatino Linotype";
    font-weight: 700;
}

.client p{
    margin-top: 5px;
}

.audio-button, .add-button {
    display: inline-block;
    width: 150px;
    margin-top: 20px;
    padding: 6px 2px;
    background-color: #9dc4da;
    outline: none;
    transition: 0.4s;
    border: 2px groove;
    border-radius: 1px;
    color: #555a66;
    font-family: "Century Gothic";
    font-weight: 700;
    font-size: 13px;
}

.audio-button:hover, .add-button:hover{
    background: #646464;
    cursor: pointer;
    color:#deea70;
}

.audio-button:active, .add-button:active {
    background: #ff5c41;
}

.add-button{
    margin-left:100px;
    width:200px;
}

.footer{
    text-align: center;
    font-family: "Slot Cyrillic";
    font-size:20px;
    font-weight: 600;
    color:#000000;
    margin-top:10px;
}

@font-face {
    font-family: "Slot Cyrillic";
    src: url(../resource/fonts/font-menu.ttf);
}

.modal-form {
    width: 500px;
    /* Рaзмеры дoлжны быть фиксирoвaны */
    border-radius: 5px;
    border: 3px #000 solid;
    background: #fff;
    position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
    top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
    left: 50%; /* пoлoвинa экрaнa слевa */
    margin-top: -150px;
    margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
    display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
    opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
    z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
    padding: 20px 10px;
    color: #626262;
    background-image: url(../resource/images/fon_main.png);
    background-repeat: repeat;
    font-family:"Palatino Linotype";
    background-color: rgba(230, 241, 255, 0.75);
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
    border-radius: 4px;
}
.modal-form input[type='submit'], .modal-form input[type='reset']{
    width:180px;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
.modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
}
/* Пoдлoжкa */
#overlay {
    z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
    position:fixed; /* всегдa перекрывaет весь сaйт */
    background-color:#000; /* чернaя */
    opacity:0.8; /* нo немнoгo прoзрaчнa */
    -moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
    filter:alpha(opacity=80);
    width:100%;
    height:100%; /* рaзмерoм вo весь экрaн */
    top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
    left:0;
    cursor:pointer;
    display:none; /* в oбычнoм сoстoянии её нет) */
}

.page-button{
    display: inline-block;
    background-color: #9dc4da;
}
select{
    align-items: center;
    background-color: rgba(161, 206, 224, 0.39);
    font-family:"Palatino Linotype";
}
.form-item {
    border-bottom: 1px solid #eee;
    padding: 5px 5px;
}

.form-item-label {
    display: inline-block;
    width: 190px;
}

.form-input{
    width: 200px;
}